html { overflow: hidden; }
body { color: #c4c4c4; background-color: #151515; font-family: Consolas; font-size: 14px; border: 0px; margin: 0px; height: 100vh; }
table { color: #c4c4c4; background-color: #202020; border: 1px solid #252729; }
h1 { margin: 0px; }
input { font-family: Consolas; }
button { font-family: Arial; cursor: pointer; }
a { color: #ffe400; text-decoration: none;}
a:hover { color: #c4c4c4; text-decoration: underline; }
hr { margin-bottom: 30px; height: 1px; border: 0px; background-color: #c4c4c4; }

.subbody-majordiv { background-color: #151515; }
.subbody-minordiv { border: 5px solid #151515; }

/* Top menu */
.top-menu { position: sticky; width: 100%; height: 33px; background-color: #151515; border-bottom: 1px solid #302F32; z-index: 1000; display: flex; }
.top-menu-button { background-color: #151515; color: #848484; height: 34px; border: none; border-bottom: 1px solid #302F32; cursor: pointer; margin: 0px; user-select: none; transition: color 600ms; }
.top-menu-button:hover { color: #E5E5E5; border:none; border-bottom: 1px solid #302F32; transition: color 100ms; }
.top-menu-button.active { color: #E5E5E5; border-bottom: 1px solid #7CB8A8; }
.top-menu-button.active:hover { color: #E5E5E5; border-bottom: 1px solid #7CB8A8; }

/* Section buttons */
.section-button { display: block; width: 200px; background-color: #1E1D21; color: #848484; height: 34px; border: none; text-align: left; font-size: 18px; font-stretch: condensed; font-weight: bold; }
.section-button:hover { background-color: #2F3D39; }

/* Left menu */
.menu-search { width: 274px; position: relative; left: -5px; top: -6px; }
.menu-dropdown:before { content: "⯈ "; font-size: 12px; }
.menu-dropdown-down:before { content: "⯆ "; font-size: 12px; }
.menu-icon { width: 16px; }
.menu-shift { padding-left: 0.5rem; }
.menu-category { background-color: #262626 }
.menu-highlight { width: 100%; text-overflow: ellipsis; white-space: nowrap; display: inline-block; }
.menu-highlight:hover { background-color: #2F3D39; }

/* Singles */
.favicon { height: 18px; margin: 6px; user-select: none; cursor: pointer; }
#tab-about:hover .favicon { filter: drop-shadow(0 0 0.5rem #479377); backdrop-filter: blur(10px) saturate(9); }
.tab-content { padding: 10px 5px; z-index: 0; height: 100%; }
.tab-pane { z-index: 0; }
.link { color: #d98d00; }
.extended-text { padding: 0px 15px;}

.icon-large { width: 64px; height: 64px; margin-right: 5px; }
.detail-label { font-weight: bold; font-size: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 300px; margin-bottom: 3px;}
.ttip { position: relative; left: 0px; top: 0px; }
.ttip:hover .ttip-text { visibility: visible; }
.ttip-text { visibility: hidden; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 10px; position: fixed; z-index: 100000; text-wrap: nowrap; }
.route-spot { display: inline-block; width: 10px; height: 10px; margin-right: 1px; cursor: pointer; }
.noselect { user-select: none; }

.eve-button         { background-color: #21302c ; color: #c7cbca; border: 1px solid #479377; font-size: 12px; transition: all 600ms; height: 26px; margin-top: 5px; }
.eve-button:hover   { background-color: #346252; transition: all 100ms; }

input.basic { outline: none; background-color: #1b1b1b; color: #c4c4c4; border: 1px solid #252729; font-family: Consolas; font-size: 14px; height: 26px; }

.copyright-wrapper  { width: 100%; height: 34px; }
.copyright-headline { float: right; font-size: 10px; color: #848484; margin-top: -4px; display:block; text-align:right; user-select: none; }


/* Flexors */
.flex-row-left { display: flex; flex-direction: row; justify-content: left; align-items: flex-start; }

.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }
.f4 { flex: 4; }
.f5 { flex: 5; }
.f6 { flex: 6; }
.f7 { flex: 7; }
.f8 { flex: 8; }
.f9 { flex: 9; }

/* Simple attributes */
.right { text-align: right; }
.clickable { cursor: pointer; }
.no-select { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.hidden { display: none; }
.top { vertical-align: top; padding: 0px; }

/* Table components */
table tbody,
table thead { display: block; }

table tbody tr,
table thead tr { width: 100%; display: flex; }

.evie-header-row { overflow-y: scroll; scrollbar-width: thin; scrollbar-color: #202020 #202020; }
.evie-header { font-weight: bold; height: 2em; line-height: 2em; vertical-align: middle; border-bottom: 1px solid #252729; border-left: 1px solid #252729 !important; border-right: 1px solid #252729 !important; padding-top: 1px !important; padding-left: 5px !important; padding-right: 5px !important;  height: 30px; line-height: 30px; }
.evie-cell { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; vertical-align: middle; }
.asc:after { content: "⯅"; line-height: 30px; float: right; }
.dsc:after { content: "⯆"; line-height: 30px; float: right; }
.evie-scrollbar { overflow-y: scroll; scrollbar-width: thin; scrollbar-color: #444 #202020; }

.filter-button { border: 0px solid transparent; background: rgba(0, 0, 0, 0.0) !important; float: right; line-height: 30px; padding-left: 5px; }
.filter-button:hover { color: white; }

.header-filter-list { list-style-type: none; position: absolute; top: 30px; display: none; background-color: #252525; font-style: normal; line-height: 20px; border: 1px solid #252729; }
.header-filter-item { padding: 0px 5px; }
.header-filter-item:hover { background-color: #2e3c49; }

/* About tab */
.about-body { display: flex; height: 100%; }
.about-menu { background-color: #1E1D21; height: calc(100vh - 68px); padding: 5px; }
#nav-tab-about { height: 100%; }
.about-detail { width: 100%; background-color: #19181C; height: calc(100vh - 78px); padding: 10px 20px; }
.about-detail h3 { margin-bottom: 4px; }
.about-icon { margin: -8px; }
.about-icon-identity { width: 64px; height: 64px; }

/* Market tab */
.market-div                 { display: table-cell; vertical-align: top; z-index: 0; }
.market-menu                { position: absolute; left: 5px; top: 77px; bottom: 5px; width: 280px; color: rgba(255, 255, 255, 0.87); overflow-y: auto; overflow-x: hidden; user-select: none; }
.market-menu-splitter       { position: absolute; left: 285px; top: 43px; bottom: 5px; width: 6px; background-color: #151515; color: #c4c4c4; cursor: col-resize; z-index: 1; border: 0px; margin: 0px; }
.market-menu-splitter-effect { position: absolute; left: 0; height: 200px; width: 2px; cursor: col-resize; z-index: -10000; border: 0px; margin: 0px; opacity: 0; background-image: linear-gradient(#151515, #65A293, #151515); transition: opacity 600ms; }
.market-menu-splitter:hover .market-menu-splitter-effect {  opacity: 1; transition-duration: 200ms; }
.market-detail              { position: absolute; left: 291px; top: 43px; right: 5px; height: 82px; background-color: #202020; border: 1px solid #252729; }
.market-route-detail        { position: absolute; left: 291px; bottom: 5px; right: 5px; height: 65px; background-color: #202020; border: 1px solid #252729; }
.market-display             { position: absolute; left: 291px; top: 131px; bottom: 5px; right: 5px; border: none; overflow-y: visible; }

.market-doubletable { display: flex; }
.market-table { display: inline-block; width: 50%; font-size: 14px; user-select: none; }
.market-body { height: calc(100vh - 170px); }
.evie-table td { border-left: 1px solid #252729; border-right: 1px solid #252729; padding-top: 1px; padding-left: 5px; padding-right: 5px; white-space: nowrap; overflow: hidden; }

.market-search-clear-button { background-color: transparent; border: none; padding: 0 10px; cursor: pointer; position: relative; top: -6px; right: 40px; }
.market-search-clear-button i { font-size: 16px; color: #ccc; position: relative; font-style: normal; }

.market-row { cursor: pointer; }
.market-row:hover { background-color: #2F3D39; }
.market-row:hover td { border-left-color: #2F3D39; border-right-color: #2F3D39; }
.market-row.selected { background-color: #346150; }
.market-row.selected td { border-left-color: #346150; border-right-color: #346150;  }

#market-table-sell { margin-right: 2px; }
#market-table-buy { margin-left: 2px; }

@media only screen and (max-width: 1024px) {
    .market-doubletable { display: block; }
    .market-table { display: table; width: 100%; }
    #market-table-sell { margin-right: 0px; }
    #market-table-buy { margin-left: 0px; margin-top: 4px; }
    .market-body { height: calc(50vh - 101px); }
}

/* Ship tab */
.ship-div { position: absolute; left: 5px; top: 77px; bottom: 5px; right: 5px; overflow-y: auto; overflow-x: hidden; }
.ship-search { width: 280px; position: relative; left: -5px; top: -6px; }
.ship-table { width: 100%; }
.ship-body { height: calc(100vh - 122px); }
.ship-icon { width: 20px; }

/* Primitives */
.highlight1 { color:rgb(220, 150, 160); }
.highlight2 { color:rgb(220, 90, 100); }
.highlight3 { color:rgb(220, 40, 40); }
.white { color: white; }

.c10 { color: #2FEFEF }	
.c09 { color: #48F0C0 }
.c08 { color: #00EF47 }
.c07 { color: #00F000 }
.c06 { color: #8FEF2F }
.c05 { color: #EFEF00 }
.c04 { color: #D77700 }
.c03 { color: #F06000 }
.c02 { color: #F04800 }
.c01 { color: #D73000 }
.c00 { color: #F00000 }
.cnu { color: #8c3263 }

.bc10 { background-color: #2FEFEF }	
.bc09 { background-color: #48F0C0 }
.bc08 { background-color: #00EF47 }
.bc07 { background-color: #00F000 }
.bc06 { background-color: #8FEF2F }
.bc05 { background-color: #EFEF00 }
.bc04 { background-color: #D77700 }
.bc03 { background-color: #F06000 }
.bc02 { background-color: #F04800 }
.bc01 { background-color: #D73000 }
.bc00 { background-color: #F00000 }
.bcnu { background-color: #8c3263 }

.w5   { width: 5%; }
.w10  { width: 10%; }
.w15  { width: 15%; }
.w20  { width: 20%; }
.w30  { width: 30%; }
.w40  { width: 40%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w70  { width: 70%; }
.w80  { width: 80%; }
.w90  { width: 90%; }
.w100 { width: 100%; }

.min30 { min-width: 30px; }
.min40 { min-width: 40px; }
.min50 { min-width: 50px; }
.min60 { min-width: 60px; }

.minch4 { min-width: 4em; }

/* Corrections of unexplained issues */
.correct-height33 { height: 33px; }